[submodule "v1/plugins/com.sonycsl.kadecot.gotapi/DeviceConnect-NodeJS"]
	path = v1/plugins/com.sonycsl.kadecot.gotapi/DeviceConnect-NodeJS
	url = https://github.com/DeviceConnect/DeviceConnect-NodeJS.git
